# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html
Chris Prather <chris@prather.org> Chris Prather <cprather@hdpublishing.com>
Chris Prather <chris@prather.org> perigrin <perigrin@daca5766-e62f-0410-9ddd-e5e43faa6270>
Marc Mims <marc@questright.com> marc.mims <marc.mims@daca5766-e62f-0410-9ddd-e5e43faa6270>
Robin Berjon <robin@berjon.com> robin.berjon@gmail.com <robin.berjon@gmail.com@daca5766-e62f-0410-9ddd-e5e43faa6270>
יובל קוג'מן (Yuval Kogman) <nothingmuch@woobling.org> nothingmuch@woobling.org <nothingmuch@woobling.org@daca5766-e62f-0410-9ddd-e5e43faa6270>
